.panel-title {
	font-size: 2em;
}

.panel-body {
    padding: 9%;
}

p {
	margin: 0;
	font-size: 1.5em;
}

#userMoveText {
	color: #3c763d;
}

#computerMoveText {
	color: #31708f;
}

#winnerText {
	color: #8a6d3b;
}

.btn {
	margin-top: 1.4em;
	font-size: 1.8em;
}